<?xml version="1.0"?>
<robot name="box">
<link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="area"/>
  </joint>
  <link name="area">
    <inertial>
     <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass value="1"/>
      <!-- Inertia values were calculated to be consistent with the mass and
           geometry size, assuming a uniform density. -->
      <inertia ixx="0.0108" ixy="0" ixz="0" iyy="0.0083" iyz="0" izz="0.0042"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./meshes/area.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.4196078431372549 0.48627450980392156 0.5215686274509804 1.0" />
      </material>
    </visual>
    <collision name="box">
      <geometry>
        <box size=".01 .01 .01"/>
      </geometry>
    </collision>
  </link>
</robot>
